{% extends 'base.html' %}
{% block content %}
    <h4>Tabela de frequências de paises.csv</h4>

    <table class="highlight centered">
        <thead>
        <tr>
            <th>Classes</th>
            <th><i>fi</i></th>
            <th><i>xi</i></th>
            <th><i>fri</i></th>
            <th><i>Fi</i></th>
            <th><i>Fri</i></th>
        </tr>
        </thead>

        <tbody>
        {% for item in lines %}
            <tr>
                {% for i in item %}
                    <td>{{ i }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}